# Frontend

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/.DS_Store
frontend/dist
frontend/dist-ssr
frontend/coverage
frontend/*.local

frontend/cypress/videos/
frontend/cypress/screenshots/

# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?


# Graphql

# Logs
graphql/logs
graphql/*.log
graphql/npm-debug.log*
graphql/yarn-debug.log*
graphql/yarn-error.log*
graphql/pnpm-debug.log*
graphql/lerna-debug.log*

graphql/node_modules
graphql/.DS_Store
graphql/dist
graphql/dist-ssr
graphql/coverage
graphql/*.local

graphql/cypress/videos/
graphql/cypress/screenshots/

# Editor directories and files
graphql/.vscode/*
graphql/!.vscode/extensions.json
graphql/.idea
graphql/*.suo
graphql/*.ntvs*
graphql/*.njsproj
graphql/*.sln
graphql/*.sw?


# backend-mockup

#venv
backend-mockup/venv
backend-mockup/__pycache__
